<!DOCTYPE html>

<html>

<head>
    <title>ORDER A BURGER</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Domine|Permanent+Marker&display=swap" rel="stylesheet">

</head>

<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRjOrAMG9oNsolYTLBHC8bCaZG62XlTmGFl3l916joTO_52Pfu">

    {{{body}}}
</body>

</html>