h1 {
    color: #6652a3;
    font-size: 30px;
    font-family: 'Domine', serif;
    font-family: 'Permanent Marker', cursive;
}

body{
    margin: 0px 350px;
    
}

p {
    color: #a3297a;
    font-size: 25px;
    font-family: 'Domine', serif;
    background-color: #9ebad1;
    margin: 0px;
}

pre{
    color: darkslateblue;
    font-size: 20px;
}

.row{
    background-color: #9ebad1;
}

.container{
    background-color: #9ebad1;
}

.sec-col {
    background-color: #9ebad1;
}